<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>

    <link rel="stylesheet" href="../../../src/frontend/styles/modal.css">
    

</head>
<body>

    <div class="main">
        <div class="paragraph"><p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ad nisi inventore eligendi tempore optio deserunt cumque ab. Doloribus, quasi.</p>
        </div> <br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime quibusdam modi eveniet, sapiente laudantium, pariatur consectetur qui minus, magnam adipisci quidem accusamus molestias quis tempora. Ipsam vero, illum doloribus nesciunt impedit eaque et qui possimus eius nobis? Qui, sed repellendus!</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita alias distinctio, nam dolore sunt eligendi reprehenderit ea et optio veritatis! Ipsam laborum sit porro sunt assumenda beatae debitis eveniet odit reiciendis veniam nobis explicabo obcaecati, modi, amet recusandae. Porro placeat expedita ut dolorem. A quas consequuntur asperiores ab quidem molestias ducimus enim expedita. Deleniti ipsa nulla doloribus voluptates laborum maiores!</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro iste soluta facilis ipsum, cumque dolor excepturi modi tempora nemo itaque, quam ullam culpa. Explicabo deleniti voluptatibus possimus perferendis dignissimos veniam ducimus facilis soluta neque delectus pariatur ea non dolores, inventore magni rem alias iusto, voluptatum in eveniet reiciendis quod laboriosam? Accusantium placeat dolor doloribus? Excepturi at quod consequatur atque quis consectetur alias libero velit. Enim esse nobis repudiandae odit. Corrupti laborum at, officia voluptatum totam numquam sed illo quidem voluptas itaque consequatur minus cumque! Dignissimos, quae optio temporibus fugiat perspiciatis repellat nihil pariatur iste labore, similique nam, nobis molestiae.</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus earum provident voluptas ut in est distinctio quod quis culpa veniam dolorem ad amet pariatur corporis repellendus quidem natus, ipsum, modi eum. Itaque deserunt aliquam nobis eum nemo quam et repellendus quisquam quae amet exercitationem nulla, cumque explicabo dolor eos voluptas porro delectus debitis, officiis voluptatem ab. Beatae sequi at iste numquam! Deserunt commodi ipsam reprehenderit repellendus, vero placeat fuga unde aspernatur earum harum ullam voluptas dolor beatae repudiandae corporis! Magnam.</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quidem rem blanditiis modi laudantium fugit ex praesentium quisquam unde, autem sit tempore, cupiditate aspernatur nemo consequuntur architecto voluptates perspiciatis nostrum quod necessitatibus minima nobis, nulla magnam eligendi? Commodi officia qui pariatur quasi a beatae facilis omnis sapiente maxime ipsa quisquam quas suscipit eum placeat consequatur culpa, dicta vitae nam autem perferendis. Minus libero facilis sunt?</p>
        </div><br>
        
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam rem ipsa recusandae doloremque consequatur iure dolorem quos voluptas consectetur sunt. Nihil doloremque adipisci voluptate quis ea, mollitia illo esse reiciendis quaerat ullam a minima ducimus laborum enim eos, molestias quas architecto sunt consectetur tempore eum! Cumque itaque, ipsum officia voluptatibus aliquam alias facilis reiciendis architecto?</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aliquam ipsam laudantium, alias in voluptatibus, eveniet laborum, ullam blanditiis ad ut quam quas? Maxime minima aperiam nobis, rem necessitatibus laboriosam ab quod iste nemo. Nostrum, officia. Repellendus, assumenda quo? Nisi atque doloribus blanditiis odit maxime officia repellendus molestias modi dignissimos neque! Voluptatem sint dolorem asperiores necessitatibus nobis excepturi aspernatur optio laudantium error, labore corrupti, vero nihil ullam repellat nulla minima!</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita alias distinctio, nam dolore sunt eligendi reprehenderit ea et optio veritatis! Ipsam laborum sit porro sunt assumenda beatae debitis eveniet odit reiciendis veniam nobis explicabo obcaecati, modi, amet recusandae. Porro placeat expedita ut dolorem. A quas consequuntur asperiores ab quidem molestias ducimus enim expedita. Deleniti ipsa nulla doloribus voluptates laborum maiores!</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat porro iste soluta facilis ipsum, cumque dolor excepturi modi tempora nemo itaque, quam ullam culpa. Explicabo deleniti voluptatibus possimus perferendis dignissimos veniam ducimus facilis soluta neque delectus pariatur ea non dolores, inventore magni rem alias iusto, voluptatum in eveniet reiciendis quod laboriosam? Accusantium placeat dolor doloribus? Excepturi at quod consequatur atque quis consectetur alias libero velit. Enim esse nobis repudiandae odit. Corrupti laborum at, officia voluptatum totam numquam sed illo quidem voluptas itaque consequatur minus cumque! Dignissimos, quae optio temporibus fugiat perspiciatis repellat nihil pariatur iste labore, similique nam, nobis molestiae.</p>
        </div><br>
        <div class="paragraph"><p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus earum provident voluptas ut in est distinctio quod quis culpa veniam dolorem ad amet pariatur corporis repellendus quidem natus, ipsum, modi eum. Itaque deserunt aliquam nobis eum nemo quam et repellendus quisquam quae amet exercitationem nulla, cumque explicabo dolor eos voluptas porro delectus debitis, officiis voluptatem ab. Beatae sequi at iste numquam! Deserunt commodi ipsam reprehenderit repellendus, vero placeat fuga unde aspernatur earum harum ullam voluptas dolor beatae repudiandae corporis! Magnam.</p>
        </div><br>
    </div>

        <div id="modal" class="modal">
            <div class="modal__body">
                <div class="modal__content">
                    <a href="#close" class="modal__close">×</a> 

                <div>
                    <h3 class="modal__title">Модальное окно </h3>
                </div>

                <div class="modal__text">    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iste aut cumque magnam accusamus possimus. Quam quaerat corporis, ea sequi sint possimus fugit animi facere. Beatae voluptatibus sint dicta rerum.</p>
                    </div>
           
                <div class="modal__button">
                     <a class="modal_accept" href="#">Принять</a>
                     <a class="modal_close" href="#">Отмена</a>
                </div>
                </div>
            </div>
        </div>
    </div> 
        
</body>
</html>